@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    first written lines

    <div class="main">
        <h1><span style=" color:darkblue; align-content:center">Application of shopping </span></h1>
*@


@{
    ViewBag.Title = "Home";
    //Layout="_layout.cshtml";
        
}

       
        <div id="loginToggle"><h2><b>Click Here To Login</b></h2></div><br />
        <form class="form">
            <div>
                <label> Username </label>
                <input />
            </div>

            <nbsp> </nbsp>
            <div>
                <label> Password</label>
                <input style="margin-left:2%" type="password" />
            </div>
            <div>
                <input type="checkbox" />
                <label>Remember Me</label>

            </div>
            <div>
                <input type="submit" value="Login" />
            </div>
        </form>

    


   






